@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    display: 0;
    box-sizing: border-box;
}

.header {
    background-image: url(./image-hero.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.link-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.name-logo {
    color: white;
    font-family: 'Alata', sans-serif;
    margin-left: 70px;
}

.link-header {
    display: flex;
    list-style: none;
}

.link-top {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-right: 50px;
}

.link-top:hover {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-right: 50px;
    cursor: pointer;
    border-bottom: solid white 2px;
}

.title-header {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    border: solid white;
    border-width: 2px;
    max-width: 650px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 120px;
    font-size: 40px;
}